<!DOCTYPE html>
<html>
  <head>
    <title>TC3049 - Final Project</title>
    <link rel="stylesheet" href="https://dpalmer.in/Peoria/css/peoria-0-6-2.min.css">
    <link href="../main.css" rel="stylesheet">
    
  </head>
  <body>
    <nav class="night navbar">
      <img height="32" src="../logo.svg" alt="Logo">
      <div class="navmenu">
        <a class="navlink active" href="/">Quiz</a>
        <a class="navlink" href="/leaderboard">Leaderboard</a>
      </div>
    </nav>
    <section class="section">
      <h1>Kahoot 2</h1>
      <div class="container text-c fade">
        <form action="/quiz" method="POST">
          <input type="hidden" name="currentQuestion" value=<%= @current_question%>>
          <div class="mb-lg">
            <p><%= @current_question + 1 %> / <%= @n %></p>
            <h2 class="card mb-lg"><%= @data["Question"] %></h2>
            <div class="grid">
              <% @data["Answers"].shuffle().each_with_index do |answer, number| %>
                <div class="col-t card relative answer">
                  <input type="radio"
                    name="question" value="<%= answer["Correct"] %>">
                    <h3><%= number + 1 %></h3>
                    <p class="m-n"><%= answer["Text"] %></p>
                </div>
              <% end %>
            </div>
          </div>
          <input type="submit" value="Send">
        </form>
      </div>
    </section>
    <script>
      const inputs = document.querySelectorAll(`input[type="radio"]`)
      let selected;
      inputs.forEach(obj => {
        obj.addEventListener('click', (ev) => {
          const children = ev.currentTarget.parentElement.parentElement.children
          selected = ev.currentTarget;
          Array.from(children).forEach(child => child.classList.remove('selected'))
          if (ev.currentTarget.value)
            ev.currentTarget.parentElement.classList.toggle('selected')
        })
      })

      const form = document.querySelector('form')
      const showCorrect = (ev) => {
        ev.preventDefault()
        document.querySelector('[value="true"]').parentElement.classList.add('correct')
        selected.parentElement.classList.add((selected.value != 'true' ? 'in' : '') + 'correct')
        document.querySelector('input[type="submit"]').value = "Next Question"
      }
      form.addEventListener('submit', showCorrect)
      form.addEventListener('submit', () => form.removeEventListener('submit', showCorrect))
    </script>
  </body>
</html>