<!DOCTYPE html>
<html>
  <head>
    <title>Leaderboard</title>
  </head>
  <body>
    <section class="section">
      <h1>Leaderboard</h1>
      <table class="card">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Score / Number of Questions</th>
                  <th>Created</th>
              </tr>
          </thead>
          <tbody>
              <% @data.each_with_index do |entry, index| %>
              <tr>
                  <td><%= entry.index + 1 %></td>
                  <td><%= entry.username %></td>
                  <td><%= entry.score %> / <%= entry.num_of_questions %></td>
                  <td><%= entry.created %></td>
              </tr>
              <% end %>
          </tbody>
      </table>
    </section>
  </body>
</html>